In [40]:
import pandas as pd 
#json dataset:  https://datacatalog.cookcountyil.gov/resource/tg8v-tm6u.json 
input_df=pd.read_json('https://datacatalog.cookcountyil.gov/resource/tg8v-tm6u.json')

In [41]:
input_df.columns

Index(['case_id', 'case_participant_id', 'received_date', 'offense_category',
       'primary_charge', 'charge_id', 'charge_version_id',
       'disposition_charged_offense_title', 'charge_count', 'disposition_date',
       'disposition_charged_chapter', 'disposition_charged_act',
       'disposition_charged_section', 'disposition_charged_class',
       'disposition_charged_aoic', 'charge_disposition', 'sentence_judge',
       'court_name', 'court_facility', 'sentence_phase', 'sentence_date',
       'sentence_type', 'current_sentence', 'commitment_type',
       'length_of_case_in_days', 'age_at_incident', 'race', 'gender',
       'incident_begin_date', 'law_enforcement_agency', 'arrest_date',
       'felony_review_date', 'felony_review_result', 'arraignment_date',
       'updated_offense_category', 'commitment_term', 'commitment_unit',
       'incident_end_date', 'charge_disposition_reason', 'incident_city'],
      dtype='object')

In [42]:
input_df.describe()

,case_id,case_participant_id,charge_id,charge_version_id,charge_count,length_of_case_in_days,age_at_incident,commitment_term
count,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,204.000000,970.000000,990.000000
mean,1.339322e+11,5.742349e+11,5.561777e+11,8.811571e+11,8.839000,2683.514706,29.461856,22.928788
std,1.058008e+10,9.455413e+10,2.071539e+11,5.263346e+11,17.714595,1710.443322,9.470670,26.765539
min,1.076101e+11,3.478431e+11,3.501581e+11,2.766368e+11,1.000000,-20.000000,17.000000,0.000000
25%,1.284440e+11,5.537250e+11,4.800214e+11,5.625977e+11,1.000000,2293.500000,22.000000,2.000000
50%,1.338367e+11,5.729008e+11,5.286224e+11,6.586892e+11,1.000000,2776.000000,28.000000,17.250000
75%,1.421015e+11,5.967173e+11,6.043234e+11,9.808487e+11,7.000000,2776.000000,33.000000,30.000000
max,1.493805e+11,2.804346e+12,3.116695e+12,2.569915e+12,99.000000,12479.000000,64.000000,181.000000

In [9]:
input_df['commitment_term']

0       NaN
1      30.0
2       NaN
3       NaN
4      30.0
       ...
995     1.0
996     2.0
997     2.0
998    18.0
999    18.0
Name: commitment_term, Length: 1000, dtype: float64

In [45]:
#order the dates
input_df['arrest_date'].sort_values(ascending=False)

164    2016-10-08T20:00:00.000
703    2014-08-21T20:20:00.000
763    2011-09-21T12:30:00.000
533    2010-12-24T09:00:00.000
484    2010-10-15T09:05:00.000
                ...
198                        NaN
221                        NaN
222                        NaN
572                        NaN
573                        NaN
Name: arrest_date, Length: 1000, dtype: object

In [31]:
input_df['arrest_date'].sort_values(ascending=False) ## what is NaT?

164   2016-10-08 20:00:00
703   2014-08-21 20:20:00
763   2011-09-21 12:30:00
533   2010-12-24 09:00:00
484   2010-10-15 09:05:00
              ...
198                   NaT
221                   NaT
222                   NaT
572                   NaT
573                   NaT
Name: arrest_date, Length: 1000, dtype: datetime64[ns]

In [34]:
input_csv_df=pd.read_csv('data/Sentencing_20240214.csv') ## might honestly be better to read from csv rather json on the site

C:\Users\chris\AppData\Local\Temp\ipykernel_6168\1927135075.py:1: DtypeWarning: Columns (10,11,14,25) have mixed types. Specify dtype option on import or set low_memory=False.
  input_csv_df=pd.read_csv('data/Sentencing_20240214.csv')

In [46]:
input_csv_df.ARREST_DATE.sort_values(ascending=False)

286545    12/31/2022 12:30:00 AM
286557    12/31/2022 09:58:00 PM
286553    12/31/2022 09:54:00 PM
286608    12/31/2022 09:45:00 PM
286552    12/31/2022 09:41:00 PM
                   ...
287676                       NaN
287681                       NaN
287720                       NaN
287744                       NaN
287784                       NaN
Name: ARREST_DATE, Length: 287790, dtype: object